<footer class="footer">
  <small>
    <a href="<%= root_path %>">Make Decision</a>
    by Dinesh Gadge
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>